.Tl-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: calc(1440px + (min(8rem, 4.17vw)) * 2);
    margin: 0 auto;
    padding: 1px min(8rem,4.17vw);
    margin-bottom: 200px;
}



.Tl-slideBox {
    height: 77px;
    width: 100%;
    // background: red;
    overflow: hidden;
}
.Tl-slide {
    height: 100%;
    // background: blue;
    width: calc(300 * 7px);
    // display: flex;
    transform: translateX(-0px);
    transition: all 1s;
}
.Tl-slideBtn {
    cursor: pointer;
    width: 300px;
    height: 100%;
    border-bottom: 1px solid rgb(187, 187, 187);;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(187, 187, 187);
    float: left;
}

.Tl-btnEnable {
    color : black;
    border-bottom: 1px solid black;
    font-weight: 600;
}
.Tl-content {
    margin-top: 100px;
}
.Tl-leftContent{
    width: 40%;
    // background: red;
    float: left;
}
.Tl-rightContent {
    width: 60%;
    // height: 500px;
    // background: blue;
    float: right;
}


.Tl-modelTime {
    font-size: 29px;
    font-weight: 500;
    margin-bottom: 5px;
}
.Tl-explanation {
    font-size: 1rem;
}
.contentContainer {
    margin-bottom: 30px;
    padding: 15px 15px;
    border-radius: 20px;
    width: 450px;
    cursor: pointer;
}
.selectModel {
    background: #eee;
}


.modelImg {
    max-width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    
    // width: 100%;
    // height: 100%;
}






@media screen and (max-width : 995px) {
    .contentContainer { 
    width: 100%;
    }
    .Tl-leftContent {
        width: 100%;
    }
    .Tl-rightContent {
        width: 100%;
    }
}






@media screen and (max-width : 556px) {
    .Tl-wrap {
        margin-bottom: 100px;
    }
    .Tl-slide {
        width: calc(160 * 7px);
    }
    .Tl-slideBtn {
        width: 160px;
        font-size: 1.2rem;
    }
    .Tl-leftContent {
        width: 100%;
    }
    .Tl-rightContent {
        width: 100%;
    }
    .Tl-content {
        margin-top: 30px;
    }
    .Tl-modelTime {
        font-size: 20px;
        font-weight: 500;
        padding: 12px 0px;
    }
    .Tl-explanation {
        font-size: 0.8rem;
    }
    .contentContainer {
        margin-bottom: 12px;
    }


}


.Arrow {
    position: absolute;
    top: 25px;
    font-size: 25px;
    cursor: pointer;
}
.R {
    right: 15px;
}
.L {
    left: 15px;
    transform: rotate(180deg);
}

